<!DOCTYPE html>
<html>
  <head>
    <title>Sweethome</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap.min.css", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <ul class="nav">
        <li class="active offset3"><a href="#">Home</li>
        </ul>
      </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <%= yield :javascript %>
          <%= yield :css %>
        </div>
      </div>
    </body>
  </html>
